@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rochester&display=swap");

/*

DEFAULT / GLOBAL

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  color: #27272a;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #27272a;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

section {
  padding: 0 24px;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

img {
  width: 100%;
}

.text--highlight {
  color: #059669;
}

.text--white {
  color: #fff !important;
}

button {
  cursor: pointer;
}

button,
a,
.search-icon--wrapper {
  -webkit-tap-highlight-color: transparent;
}

/*

HEADER / NAV

*/

/* HEADER */

header {
  padding: 0 24px;
}

/* NAV */

nav {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__wrapper {
  display: flex;
}

.logo__img--wrapper {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.logo__img {
  width: 40px;
  color: #047857;
}

.logo__text {
  color: #27272a;
  font-size: 42px;
  font-family: "Rochester", cursive;
  user-select: none;
  transform: translateY(-7px);
}

.nav__links {
  display: flex;
}

.nav__link {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  margin-left: 48px;
}

.nav__link--highlight {
  font-weight: 700;
  cursor: default;
}

.nav__link--primary {
  color: #fff;
  font-weight: 600;
  background-color: #059669;
  padding: 8px 20px;
  border-radius: 20px;
  display: none;
}

.nav__link--primary:hover {
  background-color: #047857;
}

.link__effect--black:hover:after {
  content: "";
  position: absolute;
  /* bottom: 8px; */
  bottom: 0px;
  left: 1px;
  width: 100%;
  height: 2px;
  background-color: #27272a;
}

.link__effect--white:hover:after {
  content: "";
  position: absolute;
  /* bottom: 8px; */
  bottom: 0px;
  left: 1px;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

/*

LANDING

*/

#landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 80px);
}

.landing__action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 24px; */
  margin-bottom: 48px;
}

#landing .row {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.landing__action--message {
  color: #059669;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.1;
  max-width: 800px;
  margin-bottom: 28px;
  text-align: center;
  text-wrap: balance;
}

.landing__action--command {
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
  text-wrap: balance;
}

.landing__logo--text {
  font-weight: 600;
}

.landing__search {
  display: flex;
  transform: translateX(2px);
}

.landing__search--input {
  font-size: 18px;
  padding: 4px 8px;
  margin-right: 8px;
  border-radius: 10px;
  border: 1px solid #71717a;
  width: 500px;
}

.search--input {
  outline: none;
}

.landing__search--input:hover {
  border-color: #27272a;
}

.landing__search--input:focus {
  border-color: #059669;
  outline: 1px solid #059669;
}

.landing__search--button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  padding: 4px 24px;
  background-color: #059669;
}

.landing__search--button:hover {
  background-color: #047857;
}

.landing__search--button:active {
  transform: translateY(1px);
}

.search-icon {
  color: #fff;
  width: 30px;
}

.landing__img--wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 24px;
}

.landing__img {
  max-width: 700px;
}

/* FIND YOUR MOVIE PAGE */

/*

HEADER

*/

#header__search {
  height: 300px;
  position: relative;
  z-index: 10;
}

.overlay {
  background: url(./assets/movie-theater-small.png);
  background-repeat: no-repeat;
  background-size: 2000px;
  background-position-y: -880px;
  background-attachment: local;
  filter: brightness(70%);
  width: 110%;
  transform: translateY(-8px);
  position: absolute;
  top: 0;
  left: -8px;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.header__search--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__search--title {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  text-wrap: balance;
  margin-top: 48px;
  margin-bottom: 20px;
}

.header__search {
  position: relative;
  overflow: hidden;
}

.header__search--input {
  width: 100%;
  height: 40px;
  min-width: 440px;
  font-size: 18px;
  padding: 0 60px 0 16px;
  margin-right: 8px;
  border-radius: 20px;
  border: none;
}

.search-icon--wrapper {
  width: 56px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  padding: 4px 16px 0 8px;
  cursor: pointer;
}

.header__search--icon {
  color: #059669;
}

.search-icon--wrapper:hover .header__search--icon {
  color: #047857;
}

/*

RESULTS

*/

.results__container {
  padding: 24px 0 48px 0;
}

.results__row {
  max-width: 1200px;
}

.results__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.results__info {
  font-size: 24px;
}

.results__filter {
  display: flex;
  align-items: center;
}

.results {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;
  width: 100%;
  max-width: 870px;
  margin: 0 auto;
}

.no-search__img--wrapper,
.no-results__img--wrapper {
  width: 100%;
  padding-top: 48px;
  display: flex;
  justify-content: center;
}

.no-search__img,
.no-results__img {
  height: 40vh;
}

.results__loading {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -40vh);
  font-size: 50px;
}

.fa-spinner {
  animation: loading 700ms infinite linear;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

.movie__wrapper {
  color: #000;
}

.movie {
  padding-bottom: 16px;
  box-shadow: 0 2px 4px 0 #00000055;
  border-radius: 8px;
  overflow: hidden;
  /* border-bottom-left-radius: 8px; */
  /* border-bottom-right-radius: 8px; */
}

.movie__img--wrapper {
  background-color: #eee;
  aspect-ratio: 2 / 3;
  display: flex;
  margin-bottom: 16px;
  overflow: hidden;
}

.movie__description {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
}

.movie__title {
  font-size: 18px;
  margin-bottom: 8px;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 

MEDIA QUERIES / RESPONSIVENESS

*/

@media (max-width: 1000px) {
  .landing__action--message {
    font-size: 50px;
    margin-bottom: 20px;
  }

  .landing__action--command {
    font-size: 28px;
  }

  .landing__search--input {
    max-width: 400px;
  }
}

@media (max-width: 710px) {
  .landing__action--message {
    font-size: 40px;
  }

  .landing__action--command {
    font-size: 24px;
  }

  .landing__search--input {
    max-width: 360px;
  }

  .header__search--title {
    font-size: 36px;
  }

  .header__search--input {
    min-width: 400px;
  }
}

@media (max-width: 600px) {
  .landing__action--message {
    font-size: 36px;
  }

  .landing__action--command {
    font-size: 24px;
  }

  .landing__search {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .landing__search--input {
    max-width: 100%;
    width: 100%;
    min-width: 0;
    margin-bottom: 16px;
    margin-right: 0;
  }

  .landing__search--button {
    width: 100%;
  }

  .search-icon {
    width: 24px;
  }

  .results__container {
    padding: 8px 0 48px 0;
  }

  .results__header {
    flex-direction: column;
    align-items: end;
  }

  .results__info {
    margin-bottom: 16px;
  }

  .no-search__img--wrapper,
  .no-results__img--wrapper {
    padding-top: 0;
  }

  .no-search__img,
  .no-results__img {
    width: 80%;
    max-width: 360px;
  }
}

@media (max-width: 486px) {
  .logo__text {
    font-size: 38px;
  }

  .nav__link {
    margin-left: 28px;
    font-size: 16px;
  }

  .header__search--title {
    font-size: 28px;
    margin-top: 72px;
    margin-bottom: 12px;
  }

  .search--input {
    min-width: 230px;
  }

  .results {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .movie__wrapper {
    padding: 0 24px;
  }
}
